@import '../../pages/partials/variables';

svg {
  max-width: 100%;
  margin-left: -1.5rem;
  //padding-top: 1rem;
  padding-left: -2rem;
}
.recharts-wrapper {
  margin-right: -5rem;
  width: 100% !important;
}
